.header {
    background-color: #E4E6E8;
    height: 100px;
    color: #666;
    display: flex; /*要素の中を柔軟に配置できるモードにする*/
    justify-content: center; /*横方向に真ん中*/
    align-items: center; /*縦方向に真ん中*/
}

body {
    font-family: serif;
}

ul {
    list-style: none;
}

main {
    display:grid; /*グリッドレイアウトコンテナ*/
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        "icon name"
        "icon context";
    column-gap: 20px;
    padding: 50px;   
    color: #666;
}

#icon {
    grid-area: icon;

}

#icon img {
    border-radius:15px;
    width:200px; 
    height:280px;
}

#name {
    grid-area: name;
    width: 100%;
}

#context {
    grid-area: context;
}